asgiref==3.8.1
beautifulsoup4==4.12.3
crispy-bootstrap5==2024.10
Django==4.2.17
django-bootstrap-v5==1.0.11
django-crispy-forms==2.3
psycopg2-binary==2.9.10
python-decouple==3.8
soupsieve==2.6
sqlparse==0.5.3

djangorestframework~=3.15.2
drf-yasg~=1.21.8